:root {
  --s-vertical-base: 1rem;
  --s-vertical-sm: 0.5rem;
  --s-vertical-xs: 0.25rem;
  --s-vertical-xl: 2rem;
  --s-vertical-3xl: 6rem;
  --s-horizontal-base: 1rem;
  --s-horizontal-sm: 0.5rem;
  
  /* Lets you specify whether or not the browser may synthesize some styles when the lacking in font-family */
  font-synthesis: none;
  /* provides information to the rendering engine about what to optimize for when rendering text. */
  text-rendering: optimizelegibility;
  /* controls the application of anti-aliasing when fonts are rendered. */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  gap: var(--s-vertical-xl);
  max-width: 1280px;
  height: 100dvh;
  padding: var(--s-vertical-xl);
  margin: 0 auto;
}
